PRE-REQUISITE

Python Usecases:

* Websites - YouTube, Quora, Yahoo, DropBox
* Scripting
* Data Analysis
* Data Science
* Automation

Python is a popular choice for working with data because it has good support for: 
• handling large datasets 
• working with common mathematical functions 
• creating powerful data visualizations

 - Install Python 3.6
 - Setup Environment Variables
 - Jupyter NoteBook

## Variables and types

Variables are nothing but reserved memory locations to store values. This means that when you create a variable you reserve some space in memory. Based on the data type of a variable, the interpreter allocates memory and decides what can be stored in the reserved memory.

### Symbol names

Can contain alphanumerical characters `a-z`, `A-Z`, `0-9` and some special characters such as `_`.
Normal variable names must start with a letter. 

By convention, 
variable names start with a lower-case letter, and 
Class names start with a capital letter. 

Python keywords that cannot be used as variable names.

    and, as, assert, break, class, continue, def, del, elif, else, except, exec, finally, for, from, 
    global, if, import, in, is, lambda, not, or, pass, print, raise, return, try, while, with, yield

### Variable Assignment

Python is a dynamically typed language, so we do not need to specify the type of a variable when we create one.

A variable does have a type associated with it. The type is derived from the value that was assigned to it. Assigning a value to a new variable creates the variable:

In Java :
- int value = 1 
- String value = 'bob' 

In Python :
- value = 1
- value = 'bob'

In [5]:
# variable assignments
x = 1.0

we can use 'print' statement to print a variable as below

In [7]:
print(x) # x is of type float here

1.0

To check the type of a variable, we can use 'type()' function, as below:

In [8]:
type(x)

float

If we assign a new value to a variable, its type can change.

In [3]:
x = 1

In [4]:
type(x) # now x is an integer

int


If we try to use a variable that has not yet been defined we get an `NameError`:

In [4]:
print(y)

NameError: name 'y' is not defined

In [9]:
# assign variable y a value, to eliminate above error, as follow:
y = 100
print(y)

100

### Fundamental types

Python data types consist of :
* Integer
* Float
* String
* Complex Numbers
* Booleans

In [10]:
# integers are any real number
x = 1
type(x)

int

In [13]:
x = -12
type(x)

int

Python doesn't restricts on length of number

For python storage is directly related to memory

In [12]:
2**100  # The ** operator in Python is used to raise the number on the left to the power of the exponent of the right.

1267650600228229401496703205376

In [15]:
# float
x = 1.0
type(x)

float

In [16]:
x = - 2.35
type(x)

float

Boolean means either True or False, also, 0 is equal to False and 1 is equal to True

We can make use of iether 0/1 or True/False in conditional statements (will cover it later)

In [17]:
# boolean
# In True and False, first letter must be capital to make it of type boolean.
b1 = True  # 1  
b2 = False # 0


print(type(b1))
print(type(b2))

<class 'bool'>
<class 'bool'>

Complex no's consist of a real part and an imaginary part, imajinary part starts with 'j' as shown below:

In [21]:
# complex numbers: note the use of `j` to specify the imaginary part
x = 1.0 - 1.0j
print(x)
type(x)

(1-1j)

complex

In [22]:
# We can print Real and Imaginary part seprately as below:
print(x.real, x.imag)
print(x.real)
print(x.imag)

1.0 -1.0
1.0
-1.0

### Strings

In Python, Strings are arrays of bytes representing Unicode characters. However, Python does not have a character data type, a single character is simply a string with a length of 1. Square brackets can be used to access elements of the string.
Strings are immutable in Python

In [29]:
S = 'Hello Pythonistas!!!, I am Diljeet'
print(s)

Hello Pythonistas!!!, I am Diljeet

Use len() function of Python, to calculate length of a String

In [30]:
# length of the string: the number of characters
len(S)

34

In [31]:
# Indexing can be done on Strings, we can make use of [] square brackets, as shown below:
# indexing starts from 0th position, in string S, letter 'H' is at 0th position
S[0]

'H'

In [39]:
#  similarly we can find elements at different position by String indexing
print(S[1], end='')
print(S[2], end='')
print(S[3], end='')
print(S[4], end='')
print(S[5], end='')
print(S[6], end='')
print(S[7], end='')
print(S[8], end='')
print(S[9], end='')
print(S[10], end='')
print(S[11], end='')

ello Python

Python String also suports negative indexing, negative index will iterate string backwards, it means S[-1] will print last element in string

In [40]:
print(S[-1], end='')

t

In [42]:
# negative index will print String backwardly as shown below:
print(S[-2], end='')
print(S[-3], end='')
print(S[-4], end='')
print(S[-5], end='')
print(S[-6], end='')
print(S[-7], end='')

eejliD

### some more string indexing:

In [64]:
# In indexing using [] brackets, first digit(0) is inclusive and last digit is exclusive (5),
# it means letter on index 5 os string i.e. ' ', a blank will not be printed
S[0:5]

'Hello'

In [65]:
S[4:15]

'o Pythonist'

If we omit either (or both) of `start` or `stop` from `[start:stop]`, the default is the beginning and the end of the string, respectively:

In [66]:
s[:] # it means start from begining and print till end of string

'Hello, Diljeet! Hello, Diljeet! Hello, Diljeet! '

In [67]:
s[3:]  # it means start from 3rd index and print till end of string

'lo, Diljeet! Hello, Diljeet! Hello, Diljeet! '

In [70]:
s[:14] # it means start from begining and print till 13th index of string, since last index (14) is exclusive

'Hello, Diljeet'

We can also define the step size using the syntax `[start:end:step]` (the default value for `step` is 1, as we saw above):

In [73]:
s[::2] # step cannot be zero

'Hlo ije!Hlo ije!Hlo ije!'

String is an immutable object.

In [74]:
s = 'Strings are immutable in Python'
s[4] = 2 # this will raise an error, since we cannot edit string

TypeError: 'str' object does not support item assignment

In [46]:
# we can make use of + operator to concatenate string in python
s = "Hello, " + "Diljeet! "
print(s)

Hello, Diljeet!

In [47]:
# we can make use of * operator to make copies of string in python
s = s*3
print(s)

Hello, Diljeet! Hello, Diljeet! Hello, Diljeet!

To use \ (backward slash) in strings, use \\\


\ is reserved ( \n for a newline, \t for a tabulation )

In [51]:
print ("She said. \\He's coming.")

She said. \He's coming.

We can make strings using signle quotes (''), double quotes (" ") and even triple quotes (''' ''')

In [55]:
print ('She said. He"s coming.')

She said. He"s coming.

In [58]:
# To write in seprate lines inside print() function, we can use tripple quotes, otherwise we will get an error.

print(''' 
    Hello, I 
    am Diljeet,
    I love to Code,
    Using Python
''')

    Hello, I
    am Diljeet,
    I love to Code,
    Using Python

### Some String Methods

Replace Function

In [76]:
# replace a substring in a string with something else
s = s.replace("t", "w") # here, we replaced all the 't' with 'w'
print(s)

Swrings are immuwable in Pywhon

Join and Split function

In [80]:
string = "this is :a:string"
print(string)

this is :a:string

In [81]:
# split function split the string at occurrence of ':'
splitted = string.split(':')
print(splitted)

['this is ', 'a', 'string']

In [83]:
# we can split at blanks spaces as well
splitted = string.split()
print(splitted)

['this', 'is', ':a:string']

In [ ]:
# similarly join fuction as its name suggests Joins the splitted string
joined_string = ' '.join(splitted) # here, splitted strings, joins at spaces
print(joined_string)

title() functions converts the first letter of every word in string to uppercase

In [89]:
s.title()

'Swrings Are Immuwable In Pywhon'

upper() function converts all the letters to Upper Case

In [92]:
s.upper()

'SWRINGS ARE IMMUWABLE IN PYWHON'

lower() function converts all the letters to lower case in string

In [94]:
s.lower()

'swrings are immuwable in pywhon'

#### String formatting examples

In [95]:
print('str1','str2','str3')
# The print statement concatenates strings with a space

str1 str2 str3

In [96]:
print("str1",1.0, False, -1j)  # The print statements converts all arguments to strings

str1 1.0 False (-0-1j)

In [97]:
print("str1" + "str2" + "str3") # strings added with + are concatenated without space

str1str2str3

In [98]:
print("value = 1.0")
print("value = %f" % 1.0)       # we can use C-style string formatting

value = 1.0
value = 1.000000

In [99]:
# this formatting creates a string
s2 = "value1 = %.2f value2 = %d" % (3.1415, 1.5)

print(s2)

value1 = 3.14 value2 = 1

In [100]:
# alternative, more intuitive way of formatting a string 
s3 = 'value1 = {0:.1f}, value2 = {1}'.format(3.1415, 1.5)

print(s3)

value1 = 3.1, value2 = 1.5

### Type utility functions


The module `types` contains a number of type name definitions that can be used to test if variables are of certain types:

In [101]:
import types
x = 0
# print all types defined in the `types` module
print(type(x))

<class 'int'>

In [102]:
x = 1.0
# check if the variable x is a float
type(x) is float

True

In [103]:
# check if the variable x is an int
type(x) is int

False

We can also use the `isinstance` method for testing types of variables:

In [107]:
x = 1.0
print(help(isinstance)) # help() module describes the usage of other builtin methods
isinstance(x, int)

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

None

False

In [108]:
isinstance(x, float)

True

### Type casting 
In python to type cast a variable we have built-in classes of different Data types, such as float, int, str etc.

In [110]:
x = 10
float(x)

10.0

In [111]:
x = 10.9
int(x)

10

In [112]:
x = -10.9
int(x)

-10

### round() function

In [114]:
help(round)

Help on built-in function round in module builtins:

round(...)
    round(number[, ndigits]) -> number

    Round a number to a given precision in decimal digits (default 0 digits).
    This returns an int when called with one argument, otherwise the
    same type as the number. ndigits may be negative.

In [115]:
round(3.4)

3

In [116]:
round(3.49)

3

In [117]:
round(3.5)

4

Type casting string into integer or float

In [120]:
float(' 10. ') #spaces ignored

10.0

In [121]:
int('10')

10

In [122]:
int('-100')

-100

Below code will give error, since we cannot type cast a literal wich are not in base 10

In [124]:
int('100-10')

ValueError: invalid literal for int() with base 10: '100-10'

Type cast inter or float to string

In [128]:
x = 10
x = str(x)
print(type(x))
x

<class 'str'>

'10'

In [129]:
str(10.000)

'10.0'

In [130]:
x = 1.5
y ='2.4'
print(x, type(x))
print(x, type(x), y, type(y))

1.5 <class 'float'>
1.5 <class 'float'> 2.4 <class 'str'>

Complex variables cannot be cast to floats or integers. We need to use `z.real` or `z.imag` to extract the part of the complex number we want:

In [135]:
z = 1 + 10j 
y = bool(z.real)

print(z.real, " -> ", y, type(y))

y = bool(z.imag)

print(z.imag, " -> ", y, type(y))

1.0  ->  True <class 'bool'>
10.0  ->  True <class 'bool'>

## Operators and comparisons

Most operators and comparisons in Python work as one would expect:

* Arithmetic operators `+`, `-`, `*`, `/`, `//` (integer division), '**' power BODMAS

In [136]:
k = 1 + 2, 1 - 2, 1 * 2, 1 / 2
print(k) # here, k is tuple - a compound data type in python, will explain in Tuple Chapter

(3, -1, 2, 0.5)

In [138]:
a,b,c =1,2,'hi' # we can assign multiple variable in one statement in Python
print(a+b, c) # we can do summation inside print function

3 hi

In [141]:
1.0 + 2.0 + 1.0 - 2.0 + 1.0 * 2.0 + 1.0 / 2.0  # BODMAS rule is applied for evaluating this expression

4.5

In [146]:
# Note! The power operators in python isn't ^, but **
print(2 ** 3)

8

We have an inbuilt module Math in python, which provides various mathematical functions, one of which is pow

we use import statement to use inbuilt python modules

In [147]:
import math
print(math.pow(2, 3))

8.0

In [149]:
print(math.pi)

3.141592653589793

In [150]:
print(math.e)

2.718281828459045

Note: The `/` operator always performs a floating point division in Python 3.x.
This is not true in Python 2.x, where the result of `/` is always an integer if the operands are integers.
to be more specific, `1/2 = 0.5` (`float`) in Python 3.x, and `1/2 = 0` (`int`) in Python 2.x (but `1.0/2 = 0.5` in Python 2.x).

In [143]:
20.0/3

6.666666666666667

Note: The // operator always performs an integer division in Python 3.x.

In [144]:
# Integer division of float numbers
print(5//2) 
print(5/2)

2
2.5

In [151]:
float(20)/3

6.666666666666667

In [152]:
20/float(3)

6.666666666666667

In [153]:
float(20/3)

6.666666666666667

* The boolean operators are spelled out as the words `and`, `not`, `or`.

In [154]:
True & True

True

In [155]:
not False

True

In [156]:
True or False

True

In [157]:
type(True)

bool

* Comparison operators `>`, `<`, `>=` (greater or equal), `<=` (less or equal), `==` equality, `is` identical, '<>' inequality
* Comparison operators will return a boolean, that is either True or False

In [158]:
k = 2 > 1, 2 < 1
print(k)

(True, False)

In [159]:
2 > 2, 2 < 2

(False, False)

In [160]:
2 >= 2, 2 <= 2

(True, True)

In [162]:
a = 19
b = a
print('b is :', b)
del a
print(b)
a = 12
print(a)
print(b)

b is : 19
19
12
19

In [2]:
n = 4

In [3]:
0 < n < 10

True

## Compound types:  List, Tuple and dictionaries

### List

Lists are very similar to strings, except that each element can be of any type.

The syntax for creating lists in Python is `[element1, element2, element3,....]`:

Lists are mutable data structures

In [4]:
l = [1,2,3,4, 'a', 'n', 2.7]

print(type(l))
print(l)

<class 'list'>
[1, 2, 3, 4, 'a', 'n', 2.7]

We can use the same slicing techniques to manipulate lists as we could use on strings:

In [6]:
# In indexing, first element is inclusive and last element is exclusive

print(l[1:5]) # this will print elements starting from 1st index position till 4th index position in list

# this will print one element in list and then skip the consecutive element and so on, remember the the syntax [start:end:step]
print(l[::2])

[2, 3, 4, 'a']
[1, 3, 'a', 2.7]

In [8]:
#  since list are mutables so we assign new values in list at specific indices
l[0] = 'Hi'
print(l)

['Hi', 2, 3, 4, 'a', 'n', 2.7]

Elements in a list do not all have to be of the same type:

In [9]:
l = [1, 'a', 1.0, 1-1j]
print(l)

[1, 'a', 1.0, (1-1j)]

Python lists can be inhomogeneous and arbitrarily nested:

In [10]:
nested_list = [1, [2, [3, [4, [5] ] ] ]   ]
print(nested_list[1][1][1][1])
nested_list[1][1][1][0]

[5]

4

Lists play a very important role in Python. For example they are used in loops and other flow control structures (discussed below). There are a number of convenient functions for generating lists of various types, for example the `range` function:

In [11]:
start = 10
stop = 30
step = 2
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __reduce__(...)
 |      helper for pickle
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value, [start, [stop]]) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [12]:
list(range(start, stop, step))

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [13]:
# in python 3 range generates an iterator, which can be converted to a list using 'list()'.
# It has no effect in python 2
print(list(range(4)))

[0, 1, 2, 3]

In [14]:
list(range(-10, 10))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
# convert a string to a list by type casting:
s2 = 'Hello World!'  # s2  is a string
s2 = list(s2)  # convert string s2 into a list
print(type(s2))
print(s2)

<class 'list'>
['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!']

We can use sort() function to sort values of a list in ascending order

In [31]:
# sorting lists
# sort function does not return anything, it just sorts the original list
s2.sort()  
s2

[' ', '!', 'H', 'W', 'd', 'e', 'l', 'l', 'l', 'o', 'o', 'r']

To reverse sort an orignal list, we can make use of reverse parameter in sort function or can use reverse function, as follow:

In [36]:
s2.sort(reverse=True)
s2

['r', 'o', 'o', 'l', 'l', 'l', 'e', 'd', 'W', 'H', '!', ' ']

In [42]:
s2.sort()
print(s2)
s2.reverse()
print(s2)

[' ', '!', 'H', 'W', 'd', 'e', 'l', 'l', 'l', 'o', 'o', 'r']
['r', 'o', 'o', 'l', 'l', 'l', 'e', 'd', 'W', 'H', '!', ' ']

To generate a new sorted list instead of making change in orignal list, we can make use of Python's sorted function as shown below:

In [95]:
orignal = ['c', 'a', 'd', 'e', 'b']
sorted_list = sorted(orignal)
print('orignal list : ', orignal)
print('sorted list : ', sorted_list)
# You can see below that sorted function return a new sorted list instead of making changes in orignal list

orignal list :  ['c', 'a', 'd', 'e', 'b']
sorted list :  ['a', 'b', 'c', 'd', 'e']

#### Adding, inserting, modifying, and removing elements from lists

In [107]:
# create a new empty list
l = []

Use append() method to add new elements in a list

In [108]:
# add an elements using `append`
l.append("A")
l.append("b")
l.append("c")
print(l)

['A', 'b', 'c']

Use extend() method to extend elements in a list

In [109]:
l.extend("d")
l.extend("e")
print(l)

['A', 'b', 'c', 'd', 'e']

We can join two lists using extend() method

In [110]:
l1 = [1,2,3]
l.extend(l1)
print(l)

['A', 'b', 'c', 'd', 'e', 1, 2, 3]

We can modify lists by assigning new values to elements in the list. In technical jargon, lists are *mutable*.

In [111]:
l[1] = "AB"
l[2] = "AC"
print(l)

['A', 'AB', 'AC', 'd', 'e', 1, 2, 3]

In [112]:
l[1:3] = ["d", "d"]
print(l)

['A', 'd', 'd', 'd', 'e', 1, 2, 3]

Insert an element at an specific index using `insert`

In [113]:
l.insert(0, "i")
print(l)
# As you can see index of elements shifted by 1 position ahead of 0th index

['i', 'A', 'd', 'd', 'd', 'e', 1, 2, 3]

In [114]:
l.insert(1, "n")
l.insert(2, "s")
l.insert(3, "e")
l.insert(4, "r")
l.insert(5, "t")
print(l)

['i', 'n', 's', 'e', 'r', 't', 'A', 'd', 'd', 'd', 'e', 1, 2, 3]

Remove first element with specific value using 'remove()' method

In [115]:
l = ['i', 'n', 's', 'e', 'r', 't', 'A', 'd', 'd', 'd', 'e', 1, 2, 3]
l.remove('A')
print(l) # element 'A' is removed in list below

['i', 'n', 's', 'e', 'r', 't', 'd', 'd', 'd', 'e', 1, 2, 3]

In [116]:
# list l has 3 occurrence of 'd' elements, now remove function will remove first occurrence of element 'd' as shown below:
l.remove('d')
print(l)

['i', 'n', 's', 'e', 'r', 't', 'd', 'd', 'e', 1, 2, 3]

Remove an element at a specific location using `del`:

In [117]:
del(l[0])
# now after deleting othindex element, element at index 1 is shifted to 0th index, means element 'n' has index 0 now
print(l.index('n'))
print('element at index 0 is: ', l[0])
print(l)

0
element at index 0 is:  n
['n', 's', 'e', 'r', 't', 'd', 'd', 'e', 1, 2, 3]

In [118]:
# below code will remove elements at index 1 and 2 respectively
del(l[1])
del(l[2])
print(l)

['n', 'e', 't', 'd', 'd', 'e', 1, 2, 3]

## use of *in/not in* operators with list

In [74]:
# create a list of odd numbers
odds = [3,5,7,9,11,13,15,17,19,21]

*in* operator will check if something exists in a list or not, if exists then it will retur True otherwise False

In [75]:
2 in odds

False

In [76]:
3 in odds

True

*not in* operator will return True if an element doesn't exists in list otherwise returns True

In [77]:
2 not in odds

True

In [78]:
3 not in odds

False

### Tuples

Tuples are like lists, except that they cannot be modified once created, that is they are *immutable*. 

In Python, tuples are created using the syntax `(..., ..., ...)`, or even `..., ...`:

In [121]:
# initialize an empty tuple as shown below:
a = tuple()
print(type(a))

<class 'tuple'>

In [120]:
# create a tuple 'point' and initialize it with values 10 and 20
point = (10, 20)
print(point, type(point))

(10, 20) <class 'tuple'>


We can unpack a tuple by assigning it to a comma-separated list of variables:

In [122]:
x, y = point
print("x =", x)
print("y =", y)

x = 10
y = 20

If we try to assign a new value to an element in a tuple we get an error, since tuples are immutable:

In [123]:
point[0] = 20

TypeError: 'tuple' object does not support item assignment

So where can we use tuples in applications.

Since tuples are immutable, we prefer to store critical data in tuples, which we do not want to change at any cost, for example, use password or in financial projects, users total worth amount.

In [129]:
# we can type case list into tuples or vice cersa
lst = [1,2,3,4,5]
print(type(lst))
lst = tuple(lst)
print(type(lst))
lst

<class 'list'>
<class 'tuple'>

(1, 2, 3, 4, 5)

In [130]:
lst = list(lst)
print(type(lst))
lst

<class 'list'>

[1, 2, 3, 4, 5]

### Sets

Set in Python is a data structure equivalent to sets in mathematics. It may consist of various elements; the order of elements in a set is undefined. You can add and delete elements of a set, you can iterate the elements of the set, you can perform standard operations on sets (union, intersection, difference).

In [132]:
# Initialize an empty set as shown below:
marks = set()
print(marks, type(marks))

set() <class 'set'>

Set can contains elements of different data types, each element in set remains unique. But in below set, element 34 is occurring 2 times, so when we execute below statement, Python set will eliminate multiple occurences of same elements

In [133]:
marks = {32,45,'A','A+','B',12, 34, 34}
marks

{12, 32, 34, 45, 'A', 'A+', 'B'}

In [134]:
len(marks)

7

In [135]:
# Use of in operator with set
12 in marks

True

In [136]:
# lets initialize two sets marks1 and marks2
marks1 = {10, 20, 30}
marks2 = {10,20, 40, 50}

Union of two sets

In [138]:
marks = marks1.union(marks2)
marks
# final set marks eliminate duplicate elements

{10, 20, 30, 40, 50}

Intersection of two sets

In [139]:
marks = marks1.intersection(marks2)
marks

{10, 20}

Subtraction of two sets

In [141]:
print(marks1 - marks2)
print(marks2 - marks)

{30}
{40, 50}

NOTE: Addition of sets using + operator is not supported

Using *or*, *and*, *xor* operators with sets

In [143]:
marks | marks2 # OR

{10, 20, 40, 50}

In [144]:
marks & marks2 #AND

{10, 20}

In [145]:
marks ^ marks2 # XOR, element exist at max in one set only

{40, 50}

### Dictionaries

Dictionaries are also like lists, except that each element is a key-value pair. The syntax for dictionaries is `{key1 : value1, key2: value2}`:

In [150]:
# Initiate a blank dictionary as below:
dict = {}
print(dict, type(dict))

{} <class 'dict'>

In [152]:
#  lets create a dictionary having salary of employees per hour basis:
salaries = {"diljeet" : '$1.5',
            "kishan" : '$2.0',
            "anil" : '$3'}

print(type(salaries))
print(salaries)

<class 'dict'>
{'diljeet': '$1.5', 'kishan': '$2.0', 'anil': '$3'}

In dictionalry salaries, diljeet, kishan and anil are the keys and $1.5, $2.0, $3 are their repective values

Dictionary is mutable in python, since we can change the value of a specific key, lets increase the salary of Key Diljeet by $1, so that now he earns $2.5

In [153]:
salaries['diljeet'] = '$2.5'
salaries

{'diljeet': '$2.5', 'kishan': '$2.0', 'anil': '$3'}

In [155]:
#  to print all the keys of dictionary, we can use keys() method:
salaries.keys()
# we can further type cast it into list
list(salaries.keys())

['diljeet', 'kishan', 'anil']

In [156]:
# similarly to print all the values of dictionary, we can use values() method:
list(salaries.values())

['$2.5', '$2.0', '$3']

In [157]:
# we can add new key value pair in dictionary as follow:
salaries['Pranabh'] = '$2.5'

In [158]:
salaries

{'diljeet': '$2.5', 'kishan': '$2.0', 'anil': '$3', 'Pranabh': '$2.5'}

NOTE: Key and value of dictionary can be of any data type

In [161]:
# since we know currency of salaries are in dollar, so we no longer need to use dollar sign, 
# lets convert values from string to int
salaries = {'diljeet': 2.5, 'kishan': 2.0, 'anil': 3, 'Pranabh': 2.5}
salaries

{'diljeet': 2.5, 'kishan': 2.0, 'anil': 3, 'Pranabh': 2.5}

We can check if certain key or value exists in dictionary using *in* operator

In [165]:
# check if a key exists or not
print('diljeet' in salaries)
print('kishan' in salaries.keys())

True
True

In [167]:
# check if a value exists or not
print(3 in salaries) # this will check for keys, and 3 is not a key in salaries dictionary
print(3 in salaries.values())

False
True

## Control Flow

### Conditional statements: if, elif, else

The Python syntax for conditional execution of code uses the keywords `if`, `elif` (else if), `else`:

In [168]:
statement1 = False
statement2 = False

if statement1:
    print('')    
    print("statement1 is True")
elif statement2:
    print("statement2 is True")
else:
    print("statement1 and statement2 are False")
    print()

print('after else')

statement1 and statement2 are False

after else

For the first time, here we encounted a peculiar and unusual aspect of the Python programming language: Program blocks are defined by their indentation level. 

Compare to the equivalent C code:

    if (statement1)
    {
        printf("statement1 is True\n");
    }
    else if (statement2)
    {
        printf("statement2 is True\n");
    }
    else
    {
        printf("statement1 and statement2 are False\n");
    }

In C blocks are defined by the enclosing curly brakets `{` and `}`. And the level of indentation (white space before the code statements) does not matter (completely optional). 

But in Python, the extent of a code block is defined by the indentation level (usually a tab or say four white spaces). This means that we have to be careful to indent our code correctly, or else we will get syntax errors.

#### Examples:

In [170]:
# Bad indentation!
if statement1:
    if statement2:
    print("both statement1 and statement2 are True")  # this line is not properly indented

IndentationError: expected an indented block (<ipython-input-170-ac4109c9123a>, line 4)

In [149]:
# Proper indentation!
if statement1:
    if statement2:
        print("both statement1 and statement2 are True")  # this line is not properly indented

both statement1 and statement2 are True

In [171]:
statement1 = statement2 = True

if statement1:
    if False:
        print("Inner if Block")
    print('Outer If block')

Outer If block

In [174]:
if False or (True and (True and False)):
    print(" If statement is True")
elif True or (True and (True and False)):
    print(" elif statement is True")
else:
    print('Both if and elif is False')

 elif statement is True

## Loops

In Python, loops can be programmed in a number of different ways. The most common is the `for` loop, which is used together with iterable objects, such as lists. The basic syntax is:

### **`for` loops**:

In [175]:
cars = ['Honda', 'BMW', 'Audi']

for car in cars:
    print(car)

Honda
BMW
Audi

Python Dictionary has one more method known as items(), it is used with loops to iterate over dictionary keys and values

In [176]:
for name, salary in salaries.items():
    print(name, salary)

diljeet 2.5
kishan 2.0
anil 3
Pranabh 2.5

The `for` loop iterates over the elements of the supplied list, and executes the containing block once for each element. Any kind of list can be used in the `for` loop. For example:

We can make use of range function to loop over a list as follow:

In [177]:
l = [1,2,3,4,]
for x in range(len(l)): # by default range start at 0
    print(l[x])

1
2
3
4

In [179]:
for i in range(1,4):
    print(i)

1
2
3

Note: `range(4)` does not include 4 !
range syntax: range(start, stop, step) by default step is 1, stop element in range is exclusive in nature, thats why 4 element is not printed in code above

In [180]:
for x in range(-3,3):
    print(x)

-3
-2
-1
0
1
2

Initialize a blank list and add words in it using for loop:

In [181]:
words = []
for word in ["scientific", "computing", "with", "python"]:
    words.append('Mr. '+word)

print(words)

['Mr. scientific', 'Mr. computing', 'Mr. with', 'Mr. python']

To iterate over key-value pairs of a dictionary:

Sometimes it is useful to have access to the indices of the values when iterating over a list. We can use the `enumerate` function for this:

In [182]:
for idx, x in enumerate(range(-3,3)):
    print(idx, x)

0 -3
1 -2
2 -1
3 0
4 1
5 2

### List comprehensions: Creating lists using `for` loops:

A convenient and compact way to initialize lists:

Syntax of list comprehension is as follow:

[ expression for item in list if conditional ]

In [185]:
# list comprehension takes a sequence and generate new sequence from it as follow:

lst = [x**2 for x in range(0,5)]

print(type(lst))
lst

<class 'list'>

[0, 1, 4, 9, 16]

We can also generate a dictionary from list comprehensions as follow:

In [187]:
# Below dictionary gives square of first five numbers
l2 = {x: x**2 for x in range(0,5)}

print(type(l2))
print(l2)

<class 'dict'>
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [190]:
# below list comprehension will return square of even no's only, check how we make use of if statement after for loop in code 
# below: 
lst = [x**2 for x in range(0,10) if x%2==0]
print(lst)
# the syntax will remain as it is for list comprehension, [ expression for loop if conditional ], if statement is not mandatory

[0, 4, 16, 36, 64]

### `while` loops:

In [191]:
i = 0

while i < 5:
    i = i + 1
    print(i)
    
print("done")

1
2
3
4
5
done

Note that the `print("done")` statement is not part of the `while` loop body because of the difference in indentation.

### Question
You have to print the number of times that the substring occurs in the given string. 
for example we have string : ABCDCDC and sub string : CDC
substring CDC occurs 2 times in string

In [193]:
string = 'ABCDCDCCDCDCDCDCDCDCDC'
sub_string = 'CDC'

In [195]:
# SOLUTION
counter = 0
for i in range(len(string)):
    if(sub_string in string[i:(len(sub_string)+i)]):
        counter = counter + 1
print(counter)

9

## Functions

A function in Python is defined using the keyword `def`, followed by a function name, a signature within parentheses `()`, and a colon `:`. The following code, with one additional level of indentation, is the function body.

In [7]:
# def abc():   
#     return 'kishan', 6

def abc(x=0):
    if(x==0):
        return 'diljeet',
    else:
        return x
    
val = abc()
# print(type(val))

a =(1,)
print(type(a))

<class 'tuple'>

In [10]:
# First product method. 
# Takes two argument and print their 
# product 
def product(a, b): 
	p = a * b 
	print(p) 
	
# Second product method 
# Takes three argument and print their 
# product 
def product(a, b, c): 
	p = a * b*c 
	print(p) 

# Uncommenting the below line shows an error	 
# product(4, 5) 

# This line will call the second product method 
product(4, 5, 5)

100

Optionally, but highly recommended, we can define a so called "docstring", which is a description of the functions purpose and behaivor. The docstring should follow directly after the function definition, before the code in the function body.

In [11]:
def func1(s):
    """
    Print a string 's' and tell how many characters it has    
    """
    
    print(s + " has " + str(len(s)) + " characters")

In [12]:
help(func1)

Help on function func1 in module __main__:

func1(s)
    Print a string 's' and tell how many characters it has

In [ ]:
func1("test")

Functions that returns a value use the `return` keyword:

In [ ]:
def square(x):
    """
    Return the square of x.
    """
    return x ** 2

In [ ]:
square(4)

We can return multiple values from a function using tuples (see above):

In [ ]:
def powers(x):
    """
    Return a few powers of x.
    """
    return x ** 2, x ** 3, x ** 4, 67

In [ ]:
powers(3)

In [ ]:
x2= powers(3)
print(x2)

In [ ]:
def powersL(x):
    """
    Return list a few powers of x.
    """
    l = [x ** 2, x ** 3, x ** 4]
    return l

In [ ]:
powersL(3)

In [ ]:
xl2, xl3 = powersL(3)

print(xl3)

In [ ]:
xl2, xl3, xl4 = powersL(3)

print(xl3)

### Default argument and keyword arguments

In a definition of a function, we can give default values to the arguments the function takes:

In [25]:
def myfunc(x, p=7, debug=False):
    print(debug)
    if debug:
        print("evaluating myfunc for x = " + str(x) + " using exponent p = " + str(p))
    return x**p

If we don't provide a value of the `debug` argument when calling the the function `myfunc` it defaults to the value provided in the function definition:

In [ ]:
myfunc(5)

In [28]:
myfunc(5, False, -1)

-1
evaluating myfunc for x = 5 using exponent p = False

1

If we explicitly list the name of the arguments in the function calls, they do not need to come in the same order as in the function definition. This is called *keyword* arguments, and is often very useful in functions that takes a lot of optional arguments.

In [12]:
myfunc(p=3, debug=True, x=7)

evaluating myfunc for x = 7 using exponent p = 3

343

In [23]:
i = 5

def f(args=i):
    print(args)

i = 6
f()
# what is the output?

Important warning: The default value is evaluated only once

In [45]:
L = [4,5,6]
def f(a, L = []):
    L.append(a)
    return L

# what is the output?
print(f(1))
print(f(2))
print(f(3))

In [36]:
def a():
    print('ahbj')
def b():
    a()
b()

In [47]:
def f(a, L=[]):
    L.append(a)
    return L

print(f(1, L=[]))
print(f(2))
print(f(3))

In [35]:
True == 2  # apart from 1

False

In [36]:
def f10(k, *arg, **kw):
    print("param: ", k)
    for a in arg:
        print(a)
    print("--------")
    for k in kw:
        print(k, ":", kw[k])

In [39]:
f10("PRM1", "PRM2", "PRM3", "PRM4PRM4", "PRM5PRM5")

param:  PRM1
PRM2
PRM3
PRM4PRM4
PRM5PRM5
--------

### Unnamed functions (lambda function)

In Python we can also create unnamed functions, using the `lambda` keyword:

In [ ]:
f1 = lambda x: x**2
    
# is equivalent to 

def f2(x):
    return x**2

In [ ]:
f1(2), f2(2)

This technique is useful for example when we want to pass a simple function as an argument to another function, like this:

In [ ]:
# map is a built-in python function
map(lambda x: x**2, range(-3,4))

### Need more examples

## Classes

Classes are the key features of object-oriented programming. A class is a structure for representing an object and the operations that can be performed on the object. 

In Python a class can contain *attributes* (variables) and *methods* (functions).

A class is defined almost like a function, but using the `class` keyword, and the class definition usually contains a number of class method definitions (a function in a class).

* Each class method should have an argument `self` as its first argument. This object is a self-reference.

* Some class method names have special meaning, for example:

    * `__init__`: The name of the method that is invoked when the object is first created.
    * `__str__` : A method that is invoked when a simple string representation of the class is needed, as for example when printed.
    * There are many more, see http://docs.python.org/2/reference/datamodel.html#special-method-names

In [ ]:
class Point:
    """
    Simple class for representing a point in a Cartesian coordinate system.
    """
    
    def __init__(self, x, y):
        """
        Create a new Point at x, y.
        """
        self.x = x
        self.y = y
        
    def translate(self, dx, dy):
        """
        Translate the point by dx and dy in the x and y direction.
        """
        self.x += dx
        self.y += dy
        
    def __str__(self):
        return("Point at [%f, %f]" % (self.x, self.y))

To create a new instance of a class:

In [ ]:
p1 = Point(0, 0) # this will invoke the __init__ method in the Point class

print(p1)         # this will invoke the __str__ method

To invoke a class method in the class instance `p`:

In [ ]:
p2 = Point(1, 1)

p1.translate(0.25, 1.5)

print(p1)
print(p2)

Note that calling class methods can modifiy the state of that particular class instance, but does not effect other class instances or any global variables.

That is one of the nice things about object-oriented design: code such as functions and related variables are grouped in separate and independent entities.

## Modules

One of the most important concepts in good programming is to reuse code and avoid repetitions.

The idea is to write functions and classes with a well-defined purpose and scope, and reuse these instead of repeating similar code in different part of a program (modular programming). The result is usually that readability and maintainability of a program is greatly improved. What this means in practice is that our programs have fewer bugs, are easier to extend and debug/troubleshoot. 

Python supports modular programming at different levels. Functions and classes are examples of tools for low-level modular programming. Python modules are a higher-level modular programming construct, where we can collect related variables, functions and classes in a module. A python module is defined in a python file (with file-ending `.py`), and it can be made accessible to other Python modules and programs using the `import` statement. 

Consider the following example: the file `mymodule.py` contains simple example implementations of a variable, function and a class:

In [ ]:
%%file mymodule.py
"""
Example of a python module. Contains a variable called my_variable,
a function called my_function, and a class called MyClass.
"""

my_variable = 0

def my_function():
    """
    Example function
    """
    return my_variable
    
class MyClass:
    """
    Example class.
    """

    def __init__(self):
        self.variable = my_variable
        
    def set_variable(self, new_value):
        """
        Set self.variable to a new value
        """
        self.variable = new_value
        
    def get_variable(self):
        return self.variable

We can import the module `mymodule` into our Python program using `import`:

In [ ]:
import mymodule

Use `help(module)` to get a summary of what the module provides:

In [ ]:
help(mymodule)

In [ ]:
mymodule.my_variable

In [ ]:
mymodule.my_function()

In [ ]:
my_class = mymodule.MyClass() 
my_class.set_variable(10)
my_class.get_variable()

If we make changes to the code in `mymodule.py`, we need to reload it using `reload`:

In [ ]:
reload(mymodule)  # works only in python 2

## Exceptions

In Python errors are managed with a special language construct called "Exceptions". When errors occur exceptions can be raised, which interrupts the normal program flow and fallback to somewhere else in the code where the closest try-except statement is defined.

To generate an exception we can use the `raise` statement, which takes an argument that must be an instance of the class `BaseException` or a class derived from it.

In [ ]:
raise Exception("description of the error")

A typical use of exceptions is to abort functions when some error condition occurs, for example:

    def my_function(arguments):
    
        if not verify(arguments):
            raise Exception("Invalid arguments")
        
        # rest of the code goes here

To gracefully catch errors that are generated by functions and class methods, or by the Python interpreter itself, use the `try` and  `except` statements:

    try:
        # normal code goes here
    except:
        # code for error handling goes here
        # this code is not executed unless the code
        # above generated an error

For example:

In [ ]:
try:
    print("test")
    # generate an error: the variable test is not defined
    print(test)
except:
    print("Caught an exception")

To get information about the error, we can access the `Exception` class instance that describes the exception by using for example:

    except Exception as e:

In [ ]:
try:
    print("test")
    # generate an error: the variable test is not defined
    print(test)
except Exception as e:
    print("Caught an exception:" + str(e))

## Datetime

In [ ]:
from datetime import datetime

now = datetime.now()
print now
print now.year
print now.month
print now.day

In [ ]:
print '%s/%s/%s' % (now.year, now.month, now.day)

In [ ]:
print '%s:%s:%s' % (now.hour, now.minute, now.second)